[submodule "deps/jquery-tmpl"]
	path = deps/jquery-tmpl
	url = https://github.com/jquery/jquery-tmpl.git
[submodule "dependencies/jquery"]
	path = dependencies/jquery
	url = https://github.com/jquery/jquery.git
[submodule "dependencies/jquery-smartresize"]
	path = dependencies/jquery-smartresize
	url = https://github.com/lrbabe/jquery-smartresize.git
[submodule "dependencies/jquery-ui"]
	path = dependencies/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
